.shop-detail-menu {
  height: 100%;
  padding-bottom: 1.28rem;
  padding-bottom: 12.8vw;
}
.shop-detail-menu .menu-inner {
  display: flex;
  height: 100%;
}
.bounce-ball {
  position: fixed;
  z-index: 100;
  left: 0.72rem;
  left: 7.2vw;
  bottom: 0.6rem;
  bottom: 6vw;
  opacity: 0;
}
.bounce-ball .ball-inner {
  background: #2395ff;
  width: 0.533333333333333rem;
  height: 0.533333333333333rem;
  border-radius: 50%;
}
.bounce-ball.bounce-entered {
  transition: all 0.4s cubic-bezier(0.31, -0.35, 0.99, 0.09);
}
.bounce-ball.bounce-entered .ball-inner {
  transition: all 0.4s linear;
}
