@import '../../util/util.styl'

.star
  width 100%
  height 100%
  position relative
  .star-img
    widthAndHeight(112,20)
  .star-gray
    width 100%
    height 100%
  .star-color
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    overflow hidden
    z-index 2
