.food-panel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 55;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(0.133333rem);
  -webkit-backdrop-filter: blur(1.333333vw);
  backdrop-filter: blur(0.133333rem);
  backdrop-filter: blur(1.333333vw);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.food-panel .food-panel-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.food-panel .panel-tip {
  position: absolute;
  top: -0.794667rem;
  top: -7.946667vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.food-panel .panel-body {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0.013333rem 0.08rem 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0.133333vw 0.8vw 0 rgba(0,0,0,0.1);
  box-shadow: 0 0.013333rem 0.08rem 0 rgba(0,0,0,0.1);
  box-shadow: 0 0.133333vw 0.8vw 0 rgba(0,0,0,0.1);
  width: 8.533333rem;
  width: 85.333333vw;
  height: 11.413333rem;
  height: 114.133333vw;
  border-radius: 0.106667rem;
  border-radius: 1.066667vw;
  z-index: 13;
}
.food-panel .panel-body .img-body {
  width: 100%;
  height: 8.533333rem;
  height: 85.333333vw;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 0.106667rem 0.106667rem 0 0;
  border-radius: 1.066667vw 1.066667vw 0 0;
}
.food-panel .panel-body .img-body:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.2rem;
  height: 32vw;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.3)));
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.3));
  background: linear-gradient(transparent, rgba(0,0,0,0.3));
}
.food-panel .panel-body .img-body img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.food-panel .panel-body .img-body .food-desc {
  font-size: 0.293333rem;
  color: #ddd;
  letter-spacing: 0;
  line-height: 0.373333rem;
  line-height: 3.733333vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0.333333rem 0.266667rem;
  padding: 0 3.333333vw 2.666667vw;
}
.food-panel .panel-body .intro-body {
  position: relative;
  padding: 0.4rem 0.4rem 0;
  padding: 4vw 4vw 0;
  width: 100%;
  height: 2.933333rem;
  height: 29.333333vw;
}
.food-panel .panel-body .intro-body .food-title {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.133333rem;
  margin-bottom: 1.333333vw;
}
.food-panel .panel-body .intro-body .food-desc {
  font-size: 0.293333rem;
  color: #666;
  line-height: 0.293333rem;
  line-height: 2.933333vw;
  margin-bottom: 0.16rem;
  margin-bottom: 1.6vw;
}
.food-panel .panel-body .intro-body .food-price {
  position: absolute;
  bottom: 0.453333rem;
  bottom: 4.533333vw;
  font-weight: 700;
  font-size: 0.426667rem;
  line-height: 0.426667rem;
  line-height: 4.266667vw;
  color: #f60;
  padding-bottom: 0.093333rem;
  padding-bottom: 0.933333vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.food-panel .panel-body .intro-body .intro-opt {
  position: absolute;
  bottom: 0.48rem;
  bottom: 4.8vw;
  right: 1em;
}
