.shop-tab
	height 1rem
	height 10vw
	background-color: #fff;
	border-bottom: 1px solid #eee;
	ul
		height 1rem
		height 10vw
		line-height: 1rem;
		line-height: 10vw;
		display: table;
		width 100%
		li
			display table-cell
			text-align center
			color #666
			font-size .373333rem
			&.on
				color #333
				font-weight 700
				span
					position relative
					&:after
						content: "";
						position: absolute;
						bottom: -.28rem;
						bottom: -2.8vw;
						left: 0;
						right: 0;
						height: .053333rem;
						height: .533333vw;
						background-color: #2395ff;